.App {
  width: 100%;
  background-color: #f0f0f0;
  /* text-align: center; */
  padding: 50px 10px;
}
.Content {
  display: table;
  min-width: 200px;
  width: 90%;
  margin: 0auto;
  background-color: #fff;
  padding: 30px;
}
